.wishlist-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.wishlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.wishlist-item {
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.wishlist-image-container {
    flex: 1;
    max-width: 150px;
    margin-right: 15px;
}

.wishlist-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.wishlist-info {
    flex: 2;
    text-align: left;
    padding: 0 10px;
}

.wishlist-actions {
    flex: 1;
    text-align: right;
}

.remove-button {
    background-color: #b50c00;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-button:hover {
    background-color: #d32f2f;
}

.back-button {
    margin-top: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #388e3c;
}
.add-to-cart-button {
    background-color: #2168BA;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    height: 45px;
    font-weight: bold;
}

.add-to-cart-button:hover {
    background-color: white;
    color: #2168BA;
    border: 1px solid #2168BA;
    height: 45px;
    font-weight: bold;

}
.wishlist-info {
    flex: 2;
    text-align: left;
    padding: 0 10px;
    position: relative;
  }
  
  .price-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .wishlist-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .price-container {
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .add-to-cart-button,
  .remove-button {
    padding: 8px 16px;
  }
  
  .original-price {
    text-decoration: line-through;
    color: #615e5e;
    font-size: 1.2rem;
  }
  
  .discounted-price {
    color: #333;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .regular-price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
  }